<a href="https://colab.research.google.com/github/techzzy/F25-MAT-1630/blob/main/mat_1630_9_17_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Common loops

## Sum and Average Values

In [ ]:
total = 0.0
count = 0

inputStr = input("Enter value: ")
while inputStr != "" :
   value = float(inputStr)
   total = total + value
   count = count + 1
   inputStr = input("Enter value: ")

if count > 0:
  average = total / count
else:
  average = 0.0

print("Total:", total)
print("Count:", count)
print("Average:", average)

Enter value: 44
Enter value: 55
Enter value: 1
Enter value:
Total: 100.0
Count: 3
Average: 33.333333333333336

Modify to stop adding values

**Exercise:** Fix and improve this code:

In [ ]:
total = 0.0
count = 0

inputStr = input("Enter value: ")

while inputStr != "" :
    value = float(inputStr)
    total = total + value
    count = count + 1
    inputStr = input("Enter value: ")
if count > 0 :
    average = total / count
else :
    average = 0.0

print("Total:", total)
print("Count:", count)
print("Average:", average)

Enter value: 2
Enter value: 33
Enter value:
Total: 35.0
Count: 2
Average: 17.5

# Functions (Review)

In [ ]:

def main() :
    result1 = smallest(4, 9, 2)
    result2 = average(4,9, 2)
    print("The smallest of 4, 9, 2 is", result1)
    print("The average of 4, 9, 2 is", result2)

def smallest(x, y, z) :
    if x <= y and x <= z :
      return x
    elif y <= x and y <= z :
      return y
    else :
      return z

def average(x, y, z) :
    total = x + y + z
    return total / 3

# Start the program.
main()

The smallest of 4, 9, 2 is 2
The average of 4, 9, 2 is 5.0

**Exercise** Write the following functions and provide a program to test them.
 * def smallest(x, y, z) (returning the smallest of the arguments)


* def average(x, y, z) (returning the average of the arguments)

# What's a list?

A list is an ordered, mutable collection of items. Items can be any type (numbers, strings, even other lists).

In [ ]:
nums = [10, 20, 30]
words = ["apple", "banana", "cherry"]
mixed = [42, "hello", 3.14, True]
empty = []

Indexing & slicing

Indexing starts at 0.

Negative indexes count from the end.

In [ ]:
fruits = ["apple", "banana", "cherry", "date"]
fruits[0]      # "apple"
fruits[-1]     # "date"
fruits[1:3]    # ["banana", "cherry"]
fruits[:2]     # ["apple", "banana"]
fruits[::2]    # every 2nd item -> ["apple", "cherry"]

['apple', 'cherry']

Lists are mutable (you can change them)

In [ ]:
nums = [1, 2, 3]
nums[1] = 200           # [1, 200, 3]
nums.append(4)          # [1, 200, 3, 4]
nums.extend([5, 6])     # [1, 200, 3, 4, 5, 6]
nums.insert(2, 999)     # [1, 200, 999, 3, 4, 5, 6]
del nums[3]             # remove by index -> [1, 200, 999, 4, 5, 6]
val = nums.pop()        # pops last (returns it) -> val=6
nums.remove(999)        # remove by value (first match)

## Useful operations & functions

In [ ]:
x = [3, 1, 2, 3, 2, 3]

len(x)          # 6
x.count(3)      # 3 (how many 3s)
x.index(2)      # 2 (first index of 2)

sorted(x)       # returns NEW sorted list -> [1, 2, 2, 3, 3, 3]
x.sort()        # sorts IN PLACE
x.reverse()     # reverse IN PLACE

3 in x          # membership test (True/False)
sum([1,2,3])    # 6 (numbers only)
min(x), max(x)  # smallest, largest

(1, 3)

## Looping

In [ ]:
pets = ["cat", "dog", "parrot"]

for p in pets:
    print(p)

for i, p in enumerate(pets):
    print(i, p)   # index + value

cat
dog
parrot
0 cat
1 dog
2 parrot